@use '../../../../styles/variables' as *;

:host.ng-invalid.ng-touched{
  .dropdown-trigger{
    border: 1px solid red;
  }
}
.dropdown {
  position: relative;
  user-select: none;

  .dropdown-trigger {
    padding: $spacing-xxs $spacing-sm;
    background-color: $color-bg-input;
    border: 1px solid $color-border;
    border-radius: $radius-sm;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: clamp(8rem, 5vw, 12rem);
  }

  &.disabled .dropdown-trigger {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    background-color: $color-bg-input;
    border: 1px solid $color-border;
    border-radius: $radius-sm;
    width: 100%;
    margin-top: $spacing-xs;
  }

  .dropdown-item {
    padding: $spacing-xs;
    color: $color-text-primary;
    cursor: pointer;

    &:hover {
      background-color: $color-border;
    }
  }
}
