<div class="inventory-header">
  <div class="inventory-title">
    <i class="material-icons title-icon">inventory_2</i>
    <h2 class="title-value">Inventario</h2>
  </div>
  <div class="inventory-search-options">
    <app-search-filter (filter)="filterEvent($event)" [filterOptions]="filterOptions"></app-search-filter>
  </div>
</div>


<div class="product-list" role="list" #listContainer>
  <ng-container *ngFor="let product of products">
    <app-product-item (edit)="productSelected = $event" role="listitem" [product]="product"></app-product-item>
  </ng-container>
  <div #productListBottom class="sentinel"></div>
</div>

<div class="inventory-footer">
  <button class="create-product" (click)="openCreateCategoryModal = true">Editar Categorias</button>
  <button class="create-product" (click)="openCreateModal = true">Nuevo Producto</button>
</div>

<app-product-create-modal
  *ngIf="openCreateModal"
  (close)="openCreateModal = false"
  (productCreated)="resetProductList()">
</app-product-create-modal>

<app-product-edit-modal
  *ngIf="productSelected"
  (close)="productSelected = undefined"
  [product]="productSelected!"
  (productEdited)="resetProductList()">
</app-product-edit-modal>

<app-categories-manager-modal
  *ngIf="openCreateCategoryModal"
  (close)="openCreateCategoryModal = false"></app-categories-manager-modal>
