@use '../../../../../styles/variables' as *;

:host{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.inventory-header{
  width: 100%;
  display: flex;
  align-items: stretch;
}
.inventory-title{
  flex: 1;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .title-icon{
    font-size: clamp(0.9rem, 5vw, 2rem);
  }
  .title-value{
    margin: $spacing-xxs;
    font-family: $font-family-base;
    font-size: clamp(0.9rem, 5vw, 1.9rem);
    color: $color-text-primary;
    font-weight: 600;
    user-select: none;
  }
}
.inventory-search-options{
  display: flex;
  justify-content: end;
  align-items: center;
}

.product-list {
  flex: 1;
  overflow-y: auto;
  padding:  0 $spacing-xs 0 $spacing-xxs;
}
.sentinel {
  height: 1px;
}

.inventory-footer{
  display: flex;
  flex-direction: row;
  padding: $spacing-md;
  justify-content: end;
  align-items: center;
  gap: $spacing-lg;
  .create-product{
    background-color: $color-primary;
    border: 1px solid $color-border;
    font-size: clamp(1.2rem, 5vw, 1.3rem);
    color: $color-text-primary;
    border-radius: $radius-sm;
    padding: $spacing-xxs $spacing-xs;
  }
}
