<div class="client-header">
  <div class="client-title">
    <i class="material-icons title-icon">group</i>
    <h2 class="title-value">Clientes</h2>
  </div>
  <div class="client-search-options">
    <app-search-filter (filter)="filterEvent($event)" [filterOptions]="filterOptions"></app-search-filter>
  </div>
</div>


<div class="client-list" role="list" #listContainer>
  <ng-container *ngFor="let client of clients">
    <app-client-item (edit)="clientSelected = $event" role="listitem" [client]="client"></app-client-item>
  </ng-container>
  <div #clientListBottom class="sentinel"></div>
</div>

<div class="client-footer">
  <button class="create-client" (click)="openCreateModal = true">Nuevo Cliente</button>
</div>


<app-client-create-modal
  *ngIf="openCreateModal"
  (close)="openCreateModal = false"
  (clientEdited)="openCreateModal = false">
</app-client-create-modal>
